@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  font-weight: 900 !important;
}

.date {
    color: pink;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url('bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
}

nav a{
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

h1 {
  margin-bottom: 5rem;
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

ul {
  display: flex;
  justify-content: center;
}

ul li {
  list-style-type: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

li span{
  display: block;
  font-size: 6rem;
  color: gold;
}

li.separator {
  margin: 0 10px;
  font-size: 6rem;
  line-height: 1;
  color: gold;
}

li:first-of-type {
  margin-right: 5rem;
}

/* Social Links */
.social_links {
  position: fixed;
  bottom: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.social_links a{
  color: inherit;
  font-size: 2rem;
}